:root {
  --body-bg-color: rgb(255, 99, 71);
}

h1 {
  padding: .3em 0;
  color: white;
  font-size: 3em;
}

section > h2 {
  text-align: center;
  padding-bottom: 1em;
}

section {
  padding: 2em 0;
}

section .content {
  display: grid;
}

.hue-switches, .last-sensors-metrics, .today, .forecast-card, .timetable {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.today {
  color: white;
  background-color: #00BCD4;
}

.today .content {
  margin-top: -2em;
  grid-template-columns: repeat(3, 1fr);
}

.last-sensors-metrics > * {
  margin-top: 20px;
}

.hue-switches > span:first-child {
  margin-bottom: 10px;
}

.forecast {
  background-color: #FFEB3B;
  padding-bottom: 0;
}

.forecast .content .forecast-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 2em;
}

.forecast i {
  color: white;
}

.hasRain {
  color: #1E88E5;
  font-size: 2em;
}

.forecast-card i {
  text-shadow: 1px 1px #b6b6b6;
}

.ratp {
  background-color: #009688;
  padding: 3em 0;
  color: white;
}

.ratp .symbole {
  filter: grayscale(100%);
}

.ratp .Next {
  padding-top: 3em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ratp .timetable {
  justify-content: start;
}

.ratp-lines-overview > div {
  margin-top: 10px;
}

.ratp-overview-metros {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
}

.ratp-overview-rers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.ratp-overview-tramways {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.ratp-lines-overview .message h3{
  text-transform: uppercase
}

.ratp-lines-overview .travaux {
   border: solid 4px #b8b8b8;
   background-size: 100%;
   border-radius: 33px;
} 

.ratp-lines-overview .pb {
   border: solid 4px #f00;
   background-size: 100%;
   border-radius: 33px;
} 

.sensors-history {
  background: white;
}

.forecast-graph, .sensors-history-graph {
  padding-top: 1em;
  background-color: white;
}

.footer {
  text-align: center;
  color: white;
  padding: 3em;
}
