:root {
  --body-bg-color: rgb(255, 99, 71);
}

h1 {
  padding: .3em 0;
  color: white;
  font-size: 3em;
}

.App-header {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  background-color: #00BCD4;
  padding: 3em 0;
}

.ForecastsDays {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.Weather {
  background-color: #FFEB3B;
  padding-top: 3em;
}

.Weather i {
  color: white;
}

.ForecastsDays {
  padding-bottom: 2em;
}

.RATP {
  background-color: #009688;
  padding: 3em 0;
  color: white;
}

.RATP .message {
  margin: 2em .3em 0 .3em;
}

.Next {
  padding-top: 3em;
}

.forecastGraph, .graphMetrics {
  background-color: white;
}

.Recap > div {
  margin-top: 10px;
}

.RATP .Next {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Recap-metros {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
}

.Recap-rers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.Recap-tramways {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.Recap .message h3{
  text-transform: uppercase
}

.Recap .travaux {
   border: solid 4px #b8b8b8;
   background-size: 100%;
   border-radius: 33px;
} 

.Recap .pb {
   border: solid 4px #f00;
   background-size: 100%;
   border-radius: 33px;
} 

.HueSwitches, .CurrentMetrics, .Today, .dayForecast, .timetable {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.timetable {
  justify-content: start;
}

.CurrentMetrics > * {
  margin-top: 20px;
}

.Today > div {
  margin-top: 20px;
}

.HueSwitches > span:first-child {
  margin-bottom: 10px;
}

.hasRain {
  color: blue
}

.footer {
  text-align: center;
  color: white;
  padding: 3em;
}
