:root {
}

.App-header {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.hueSwitches, .CurrentMetrics, .Today {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.CurrentMetrics {

}
